

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
  <button mat-button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarText">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
      <!--  <a class="nav-link" hrouterLink="/home">Home <span class="sr-only">(current)</span></a> -->
      </li>
    </ul>

    <div class="Branco">
      <!-- #docregion mat-menu-trigger-for -->
      <button mat-button [matMenuTriggerFor]="menu1">Professor</button>
      <!-- #enddocregion mat-menu-trigger-for -->
      <mat-menu #menu1="matMenu">
        <button mat-menu-item class="nav-link" routerLink="/professor">Listar</button>
        <button mat-menu-item class="nav-link" routerLink="/professorDetalhe">Adicionar professor</button>
      </mat-menu>

    </div>

    <div class="Branco">
      <!-- #docregion mat-menu-trigger-for -->
      <button mat-button [matMenuTriggerFor]="menu2">Aluno</button>
      <!-- #enddocregion mat-menu-trigger-for -->
      <mat-menu #menu2="matMenu">
        <button mat-menu-item class="nav-link" routerLink="/aluno">Listar alunos</button>
        <button mat-menu-item class="nav-link" routerLink="/alunoDetalhe">Adicionar aluno</button>
      </mat-menu>

    </div>



    <div class="Branco">
      <!-- #docregion mat-menu-trigger-for -->
      <button mat-button [matMenuTriggerFor]="menu3">Funcionário</button>
      <!-- #enddocregion mat-menu-trigger-for -->
      <mat-menu #menu3="matMenu">
        <button mat-menu-item class="nav-link" routerLink="/funcionario">Listar funcionários</button>
        <button mat-menu-item class="nav-link" routerLink="/funcionarioDetalhe">Adicionar aluno</button>
      </mat-menu>

    </div>

    <div class="Branco">
      <!-- #docregion mat-menu-trigger-for -->
      <button mat-button [matMenuTriggerFor]="menu4">Turma</button>
      <!-- #enddocregion mat-menu-trigger-for -->
      <mat-menu #menu4="matMenu">
        <button mat-menu-item class="nav-link" routerLink="/turma">Listar</button>
        <button mat-menu-item class="nav-link" routerLink="/cliente" >TESTE VAIII</button>
      </mat-menu>

    </div>

    <div class="Branco">
      <!-- #docregion mat-menu-trigger-for -->
      <button mat-button [matMenuTriggerFor]="menu5">Modalidade</button>
      <!-- #enddocregion mat-menu-trigger-for -->
      <mat-menu #menu5="matMenu">
        <button mat-menu-item class="nav-link" routerLink="/modalidade">Listar</button>
        <button mat-menu-item class="nav-link" routerLink="/cliente" >TESTE VAIII</button>
      </mat-menu>

    </div>


    <div class="Branco">
      <!-- #docregion mat-menu-trigger-for -->
      <button mat-button [matMenuTriggerFor]="menu6">Plano</button>
      <!-- #enddocregion mat-menu-trigger-for -->
      <mat-menu #menu6="matMenu">
        <button mat-menu-item class="nav-link" routerLink="/plano">Listar</button>
        <button mat-menu-item class="nav-link" routerLink="/cliente" >TESTE VAIII</button>
      </mat-menu>

    </div>

    <div class="Branco">
      <!-- #docregion mat-menu-trigger-for -->
      <button mat-button [matMenuTriggerFor]="menu7">Sala de aula</button>
      <!-- #enddocregion mat-menu-trigger-for -->
      <mat-menu #menu7="matMenu">
        <button mat-menu-item class="nav-link" routerLink="/salaDeAula">Listar</button>
        <button mat-menu-item class="nav-link" routerLink="/cliente" >TESTE VAIII</button>
      </mat-menu>

    </div>


    <div class="Branco">
      <!-- #docregion mat-menu-trigger-for -->
      <button mat-button [matMenuTriggerFor]="menu10">Exemplo</button>
      <!-- #enddocregion mat-menu-trigger-for -->
      <mat-menu #menu10="matMenu">
        <button mat-menu-item class="nav-link" routerLink="/turma">Ex. 1</button>
        <button mat-menu-item class="nav-link" routerLink="/cliente" >Ex. 2</button>
      </mat-menu>

    </div>



    <div>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link">Logout</a>
        </li>
      </ul>
    </div>

    <div>


      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/cliente">Pessoas</a>

        </li>
      </ul>



    </div>
    <div>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/cliente-detalhe" >Cliente-Detalhe</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<body>
<div id="content" class="p-4 p-md-5 pt-5">
  <router-outlet></router-outlet>
</div>
</body>
